@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto+Slab:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mode: white;
  --modeOpp: rgb(30, 30, 30);
  --offsetMode: rgb(216, 216, 216);
  --offsetModeOpp: rgb(48, 48, 48);
  --midMode: rgb(136, 136, 136);
  --green: rgb(0, 215, 0);
  --red: red;
  --blue: rgb(33, 118, 255);

  --color0: rgba(255, 0, 136, 0.25);
  --color1: rgba(208, 0, 0, 0.25);
  --color2: rgba(28, 14, 221, 0.25);
  --color3: rgba(255, 77, 0, 0.25);
  --color4: rgba(238, 255, 0, 0.25);
  --color5: rgba(0, 255, 13, 0.25);
  --color6: rgba(0, 255, 251, 0.25);
  --color7: rgba(0, 38, 255, 0.25);
  --color8: rgba(89, 0, 255, 0.25);
  --color9: rgba(255, 0, 136, 0.25);
}

body {
  background-color: var(--mode);
}

button,
input,
select,
textarea {
  font-family: "Roboto Slab", serif;
  font-size: 0.85rem;
  padding: 7px;
  color: var(--modeOpp);
  background-color: var(--mode);
  border: 1px solid var(--midMode);
  font-weight: 400;
  border-radius: 5px;
}

button {
  cursor: pointer;
  transition: 300ms;
}

img {
  width: 100%;
  height: auto;
}

header {
  margin-bottom: 50px;
}

.green {
  color: var(--green);
}

#app {
  margin: 25px 75px;
  font-family: "Roboto Slab", serif;
  color: var(--modeOpp);
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: relative;
}

.top-nav-right {
  width: 40vw;
}

.nav-item {
  cursor: pointer;
}
.nav-item:hover {
  transform: scale(1.05);
}

#main-logo {
  font-size: 2.5rem;
  font-weight: 400;
  cursor: pointer;
}

#search-dropdown {
  position: absolute;
  right: 0;
  top: 50px;
  padding: 30px;
  width: 50vw;
  transition: 500ms;
  background-color: var(--mode);
}

.flex-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-flex {
  display: flex;
  flex-flow: column nowrap;
}

.flex-just-cent {
  display: flex;
  align-items: center;
}

.all-search-btns {
  border-bottom: 1px solid var(--offsetMode);
  margin-bottom: 15px;
  padding-bottom: 15px;
  justify-content: flex-start;
}

.all-search-btns button {
  margin-left: 20px;
  padding: 10px 15px;
}

.all-search-btns button:hover {
  color: var(--mode);
  background-color: var(--modeOpp);
}

.search-btn {
  color: var(--blue);
  padding: 10px 20px;
  border-radius: 25px;
  border: 2px solid var(--blue);
}
.search-btn:hover {
  background-color: var(--blue);
  color: white;
}

.content-box {
  font-family: "Lora", serif;
  padding: 80px 100px;
  background-color: var(--offsetMode);
}

.story-box img {
  width: 50%;
  float: right;
  margin: 0 0 20px 20px;
}

.con-content {
  line-height: 1.3;
}

.con-author {
  color: var(--offsetModeOpp);
  font-weight: 400;
  margin-bottom: 40px;
}

.con-name {
  font-size: 2rem;
  font-weight: 400;
}

.poem-box {
  display: flex;
  justify-content: space-around;
}

.left-poem {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.poem-box picture {
  flex-basis: 50%;
}

.con-poem {
  line-height: 2;
}

.bot-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.bot-nav p {
  display: flex;
  align-items: center;
}

.cont-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.form-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: column;
  margin: 10px 0;
}

.form-item label {
  margin-bottom: 5px;
  color: var(--blue);
}

.form-item textarea {
  resize: none;
  width: 100%;
  height: 400px;
}

.cont-form button {
  width: 120px;
}

.search-results {
  display: flex;
  flex-flow: row wrap;
  margin-top: 40px;
  justify-content: space-around;
}

.search-card {
  width: 300px;
  background-color: var(--mode);
  padding: 15px 30px;
  height: 215px;
  border-radius: 5px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  margin: 10px;
}

.search-card h2 {
  font-weight: lighter;
}

.search-card h3 {
  font-size: 0.9rem;
  font-weight: lighter;
}

.writing-type-list {
  display: flex;
  justify-content: space-between;
  margin: 10px 15px;
  width: 60%;
  font-size: 0.9rem;
}

.author-content-list {
  list-style: none;
  margin: 25px 0;
  font-size: 0.9rem;
}

.writing-type {
  margin: 10px 15px;
}

.card-content {
  margin: 20px 0;
}

.search-lower {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    var(--mode),
    var(--mode)
  );
}

.color-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 500px) {
  #app {
    margin: 5px 10px;
  }
  #main-logo {
    font-size: 1.5rem;
  }
  header {
    margin-bottom: 20px;
  }
  h1 {
    font-size: 1.5rem;
  }
  .top-nav-right {
    width: 60vw;
  }
  .top-nav-right li {
    font-size: 0.85rem;
  }
  .nav-item svg {
    height: 25px;
  }

  #search-dropdown {
    left: 0;
    width: 88vw;
    padding: 20px 0;
  }
  .all-search-btns button {
    margin-left: 10px;
    padding: 5px 5px;
  }
  .search-form {
    flex-flow: column nowrap;
    gap: 10px;
    align-items: flex-start;
  }
  .content-box {
    padding: 10px 15px;
  }
  .story-box img {
    width: 100%;
    float: initial;
    margin: 0 0 0 0;
    max-height: 200px;
    object-fit: contain;
  }
  .poem-box {
    flex-flow: column-reverse;
  }
  .con-name {
    font-size: 1.5rem;
  }
  .con-author {
    font-size: 1rem;
  }
  .con-poem {
    line-height: 1.5;
    font-size: 0.9rem;
  }
  .con-content {
    line-height: 1.25;
    font-size: 0.9rem;
  }

  .bot-nav-item {
    font-size: 0.75rem;
  }
}
