@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto+Slab:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mode: white;
  --modeOpp: rgb(30, 30, 30);
  --offsetMode: rgb(216, 216, 216);
  --offsetModeOpp: rgb(48, 48, 48);
  --midMode: rgb(136, 136, 136);
  --green: rgb(0, 215, 0);
  --red: red;
  --blue: rgb(33, 118, 255);
}

body {
  background-color: var(--mode);
}

button,
input,
select,
textarea {
  font-family: "Roboto Slab", serif;
  font-size: 0.85rem;
  padding: 7px;
  color: var(--modeOpp);
  background-color: var(--mode);
  border: 1px solid var(--midMode);
  font-weight: 400;
  border-radius: 5px;
}

button {
  cursor: pointer;
  transition: 300ms;
}

img {
  width: 100%;
}

header {
  margin-bottom: 50px;
}

.green {
  color: var(--green);
}

#app {
  margin: 25px 75px;
  font-family: "Roboto Slab", serif;
  color: var(--modeOpp);
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: relative;
}

.top-nav-right {
  width: 40vw;
}

.nav-item {
  cursor: pointer;
}
.nav-item:hover {
  transform: scale(1.05);
}

#main-logo {
  font-size: 2.5rem;
  font-weight: 400;
  cursor: pointer;
}

#search-dropdown {
  position: absolute;
  right: 0;
  top: 50px;
  padding: 30px;
  width: 50vw;
  transition: 500ms;
  background-color: var(--mode);
}

.flex-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-just-cent {
  display: flex;
  align-items: center;
}

.all-search-btns {
  border-bottom: 1px solid var(--offsetMode);
  margin-bottom: 15px;
  padding-bottom: 15px;
  justify-content: flex-start;
}

.all-search-btns button {
  margin-left: 20px;
  padding: 10px 15px;
}

.all-search-btns button:hover {
  color: var(--mode);
  background-color: var(--modeOpp);
}

.search-btn {
  color: var(--blue);
  padding: 10px 20px;
  border-radius: 25px;
  border: 2px solid var(--blue);
}
.search-btn:hover {
  background-color: var(--blue);
  color: white;
}

.content-box {
  font-family: "Lora", serif;
  padding: 80px 100px;
  background-color: var(--offsetMode);
}

.story-box img {
  width: 50%;
  float: right;
  margin: 0 0 20px 20px;
}

#con-day-header {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.con-content {
  line-height: 1.3;
}

.con-author {
  color: var(--offsetModeOpp);
  font-weight: 400;
  margin-bottom: 40px;
}

.con-name {
  font-size: 2rem;
  font-weight: 400;
}

.poem-box {
  display: flex;
  justify-content: space-around;
}

.left-poem {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.poem-box img {
  flex-basis: 50%;
}

.con-poem {
  line-height: 2;
}

.bot-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.bot-nav p {
  display: flex;
  align-items: center;
}

.cont-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.form-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: column;
  margin: 10px 0;
}

.form-item label {
  margin-bottom: 5px;
  color: var(--blue);
}

.form-item textarea {
  resize: none;
  width: 70%;
}

.search-results {
  display: flex;
  flex-flow: row wrap;
  margin-top: 40px;
}

.search-card {
  width: 300px;
  background-color: var(--mode);
  padding: 15px 30px;
  height: 215px;
  border-radius: 5px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.search-card h2 {
  font-weight: lighter;
}

.search-card h3 {
  font-size: 0.9rem;
  font-weight: lighter;
}

.writing-type-list {
  display: flex;
  justify-content: space-between;
  margin: 10px 15px;
  width: 60%;
  font-size: 0.9rem;
}

.author-content-list {
  list-style: none;
  margin: 25px 0;
  font-size: 0.9rem;
}

.writing-type {
  margin: 10px 15px;
}

.card-content {
  margin: 20px 0;
}
